

<div class="flex-container">
    <div><a class="anchor-no-decoration josefin-sans" href="">DEALHEAL</a></div>
    <div><a class="anchor-no-decoration josefin-sans" href=""><%= fulltime() %></a></div>
</div>