/**************************TAG*******************************/
body{
    margin: 0;
    background-color: #222831;
    background-size: cover;
    color: #EEEEEE;
}

h1,h2{
    margin: 0 0 10px;
}

p{
    margin-top: 10px;
}

hr{
    border: solid 0.5px rgb(41, 40, 40);
}
/**************************Classes*******************************/
.flex-container{
    display: flex;
    padding: 0px 10px;
    box-shadow: 1px 1px 5px 1px black;
    background-color: #393E46;
    justify-content: space-between;
    align-items: center;
    height: 51px;
    flex: 1;
}

.flex-container:hover {
    box-shadow: 1px 1px 8px 0.5px black;
  }

.no-decoration{
    text-decoration: none;
    color: #EEEEEE;
}

.mona-sans{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    }

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 50px;
}

.card,#hero-div,.custom-btn,.custom-text-input,#img-card,#info-card{
    height: 200px;
    padding: 0px 10px;
    background-color: #393E46;
    border-radius: 1rem;
    margin: 5px;
}

.custom-text-input,.custom-btn{
    background-color: #222831;
    color: #EEEEEE;
}


.card:hover,#hero-div:hover,#img-card:hover,#info-card:hover{
    box-shadow: 1px 1px 8px 0.5px black;
  }

.thumb-img{
    float: left;
    margin: 10px 5px 0 0;
    border-radius: 0 1rem 1rem 1rem;
}

.custom-text-input{
    height: 20px;
    width: 200px;
    border: none;
    text-align: center;
}

.price-card{
    height: 60px;
    width: 200px;
    padding: 10px;
}

.custom-btn{
height: 30px;
width: 50px;
border-radius: 1rem;
border: none;
}

.custom-btn:hover{
    box-shadow: 1px 1px 8px 0.5px #F4CE14;
}

/**************************IDS*******************************/

#discount-section{
    margin: 40px 0;
}

#hero-div,#img-card,#info-card{
display: block;
    margin-top: 40px;
    width: 400px;
    height: 110px;
    padding: 10px;
    text-align: center;
}

#hero-flex{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

#img-card{
    width: 110px;
}

#info-card{
    width: 110px;
}
