/**************************TAG*******************************/
body{
    margin: 0;
}
/**************************Classes*******************************/
.flex-container{
    display: flex;
    background-color: black;
}
/**************************IDS*******************************/